
/* Footer */

footer {
    background-color: #1b1b1b;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
    margin-top: 40px;
    position: relative;
    height: 300px;
}

footer .footer-item {
    margin-bottom: 20px;
}

footer h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

footer p,
footer a {
    font-size: 14px;
    color: #ddd;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}

footer .footer-item img {
    margin: 10px auto;
    display: block;
    border-radius: 10px;
}

.copyright {
    margin-top: 20px;
    font-size: 12px;
    color: #aaa;
}

.recommended-products-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 20px;
}
.boven-links {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
  }
  
  .boven-rechts {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
  }
  .midden-onder {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }